---
import BaseHead from "@/components/BaseHead.astro"
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts"
import { getCollection } from "astro:content"

import Global from "@/layouts/Global.astro"
import BlogCard from "@/components/BlogCard"
import { title, date, excerpt } from "@/utils/extract"

const posts = (await getCollection("blog")).reverse()
---

<Global>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <Header />
  <main>
    <section>
      <ul class="grid grid-cols-3 gap-6 p-4">
        {
          posts.map(async (post) => {
            return (
              <li>
                <BlogCard
                  title={title(post)}
                  date={date(post)}
                  excerpt={await excerpt(post)}
                  category={post.data.category}
                  link={post.data.category + "/" + post.slug}
                />
              </li>
            )
          })
        }
      </ul>
    </section>
    <Footer />
  </main>
</Global>
