---
import { date, excerpt, title } from "@/utils/extract"
import Global from "@/layouts/Global.astro"
import BaseHead from "@/components/BaseHead.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts"
import Header from "@/components/Header.astro"
import BlogCard from "@/components/BlogCard"
import Footer from "@/components/Footer.astro"

import { getStaticPaths as getStaticPathsApi } from "@/pages/api/[...filter].json"

export const getStaticPaths = getStaticPathsApi

const posts = [...Astro.props.posts].reverse()
const { filter } = Astro.params
---

<Global>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <Header />
  <main>
    <section>
      <ul class="grid grid-cols-3 gap-6 p-4">
        {
          posts.map(async (post) => {
            return (
              <li>
                <BlogCard
                  title={title(post)}
                  date={date(post)}
                  excerpt={await excerpt(post)}
                  category={post.data.category}
                  link={`/${post.data.category}/${post.slug}`}
                  filter={filter}
                />
              </li>
            )
          })
        }
      </ul>
    </section>
    <Footer />
  </main>
</Global>
