---
import Global from "../../packages/layouts/Global.astro";

import BaseHead from "../../packages/components/BaseHead.astro";
import Header from "../../packages/components/Header.astro";
import Footer from "../../packages/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../packages/consts";

import profile from "../../packages/assets/profile.jpg";
import { Picture } from "astro:assets";
import { Badge } from "../../packages/shadcn/components/ui/badge";
import { Mail, Icon } from "@lucide/astro";
import GitHub from "../icons/github.svg?raw";
import Twitter from "../icons/x.svg?raw";
import Linkedin from "../icons/linkedin.svg?raw";
import Instagram from "../icons/instagram.svg?raw";
import Threads from "../icons/threads.svg?raw";
import Spotify from "../icons/spotify.svg?raw";
import Itchio from "../icons/itchdotio.svg?raw";
import { getBadges } from "@/packages/utils/badges";

export const prerender = true;
const badges = await getBadges();
---

<Global>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <Header title={SITE_TITLE} />
  <main class="justify-self-center flex flex-col">
    <div class="grow flex items-center justify-center flex-col">
      <Picture
        src={profile}
        alt="profile"
        class="rounded-full"
        decoding="async"
      />
      <div class="flex flex-row gap-4 mt-4 justify-center">
        <a
          href="https://github.com/gongbaodd"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
        >
          <Icon set:html={GitHub} width="28" height="28" stroke-width="1.5" />
        </a>
        <a
          href="https://gongbaodd.itch.io"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Itch.io"
        >
          <Icon set:html={Itchio} width="28" height="28" stroke-width="1.5" />
        </a>
        <a
          href="https://x.com/gongbaodd"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter"
        >
          <Icon set:html={Twitter} width="28" height="28" stroke-width="1.5" />
        </a>
        <a
          href="https://www.linkedin.com/in/jian-gong-27762aa8/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
        >
          <Icon set:html={Linkedin} width="28" height="28" stroke-width="1.5" />
        </a>
        <a
          href="https://www.instagram.com/mia_takeshi"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <Icon
            set:html={Instagram}
            width="28"
            height="28"
            stroke-width="1.5"
          />
        </a>
        <a
          href="https://www.threads.com/@mia_takeshi"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Blog"
        >
          <Icon set:html={Threads} width="28" height="28" stroke-width="1.5" />
        </a>
        <a
          href="https://open.spotify.com/show/2FJoLvI0tAnjXO3t71Iswz"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Spotify"
        >
          <Icon set:html={Spotify} width="28" height="28" stroke-width="1.5" />
        </a>
        <a href="mailto:gongbaodd@outlook.com" aria-label="Email">
          <Mail width="28" height="28" />
        </a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center p-4">
      <iframe
        data-testid="embed-iframe"
        style="border-radius:12px"
        src="https://open.spotify.com/embed/show/2FJoLvI0tAnjXO3t71Iswz?utm_source=generator&theme=0"
        width="100%"
        height="152"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
    </div>
    <div>
      <ul class="p-6 justify-center">
        {
          badges.map(([name, url]) => (
            <li class="block float-left mr-1 mt-1">
              <a href={url}>
                <Badge>{name}</Badge>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <Footer />
  </main>
</Global>
